# TripCast Environment Variables
EXPO_PUBLIC_CONVEX_URL=https://dutiful-dotterel-920.convex.cloud
EXPO_PUBLIC_CONVEX_SITE_URL=https://dutiful-dotterel-920.convex.site
CONVEX_URL=https://dutiful-dotterel-920.convex.cloud
PORT=8080
